.header_container{
    padding: 1em;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    background-color: #D02B20;
    color: white;
}

.header {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap: 0.4em;
}

.logo{
    width: 2.5em;
    
}

.github{
    font-size: 2em;
}

