.info {
    color:white;
    padding: 2em 5em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba( 208, 43, 32, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   
}

.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
}